apiVersion: v1
kind: Service
metadata:
  name: tft-nodeport-service
  namespace: {{ name_space }}
  labels:
    tft-tests: "{{ index }}"
spec:
  type: NodePort
  ports:
    - name: tft-nodeport-service-tcp-{{ port }}
      protocol: TCP
      port: {{ port }}
      nodePort: {{ nodeport_svc_port }}
    - name: tft-nodeport-service-udp-{{ port }}
      protocol: UDP
      port: {{ port }}
      nodePort: {{ nodeport_svc_port }}
  selector:
    tft-port: "{{ port }}"