apiVersion: v1
kind: Pod
metadata:
  namespace: {{ name_space }}
  name: {{ pod_name }}
  labels:
    tft-tests: "{{ index }}"
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ node_name }}
  hostNetwork: true
  containers:
  - name: {{ pod_name }}
    image: {{ test_image }}
    command:
      - "{{ command }}"
    args: ["{{ args }}"]
    imagePullPolicy: {{ image_pull_policy }}
    securityContext:
      privileged: true
      runAsUser: 0
    volumeMounts:
    - mountPath: /host
      name: host
  volumes:
  - hostPath:
      path: /
      type: Directory
    name: host